<main>
  <div class="header">
  <div style="cursor: pointer;" (click)="goToHome()">
    <div class="brand">
      <img class="logo" src="assets/logo.png" alt="logo" >
      <h2>User Management</h2>
    </div>
  </div>
  <div style="display: flex; align-items:center; gap: 20px; flex: 1; justify-content: end">
  <app-search-box class="search-box" *ngIf="searchboxVisible"></app-search-box>
  <img src="https://avatar.iran.liara.run/public" class="avatar-img"/>
</div>
</div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>