.search-box {
    padding: 14px 16px;
    border: 1px solid var(--dark-border-color);
    border-radius: 10px;
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    width: 250px;
}

@media screen and (max-width: 768px) {
    .search-box {
        width: calc(100% - 32px);
    }
}