/* You can add global styles to this file, and also import other style files */
:root {
    
    --light-divider-color: #e0e0e0;
    --light-background-color: #fafafa;
    --light-header-background-color: #6b7a8f;
    --light-title-text-color: #333;
    --light-label-text-color: #666;
    --light-shimmer-background: linear-gradient(45deg, #eee 40%, #fafafa 50%, #eee 60%);
    --light-border-color: #ddd;
    

    --dark-divider-color: #696969;
    --dark-background-color: #2a2f3f;
    --dark-header-background-color: #1f2536;
    --dark-title-text-color: #fff;
    --dark-label-text-color: #ccc;
    --dark-shimmer-background: linear-gradient(45deg, #555 40%, #444 50%, #555 60%);
    --dark-border-color: #565c68;
}

body {
    background-color: var(--dark-background-color);
    color: var(--light-title-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

p {
    color: var(--dark-label-text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-title-text-color);
}